{% extends 'base.html.twig' %}

{% block body %}
    <!-- ======= main img Section ======= -->
    <section id="mainImage">
        <div class="mainImage-container">
            <h1>Bienvenue sur SnowTricks</h1>
            <h2>Le site communautaire pour les fans de snowboard et le partage de tricks !</h2>
            <a href="#tricks" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
        </div>
    </section>

    <section id="tricks" class="services">
        <div class="container">
            <div class="card bg-light my-3 text-center mt-5">
                <h2>Tous nos tricks</h2>
                <p>Voici la liste de tous les tricks partagés par nos membres !</p>
            </div>

            <div class="row" id="listTricks">
                {% for trick in tricks %}
                    {% set url = path('trick_show', {'slug': trick.slug}) %}


                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-center">
                                Trick : <strong>{{ trick.title }}</strong> <br>
                            </div>
                            <a href="{{ url }}">
                                <img src="{{ url('homepage') ~ trick.getCoverImageUrl}}" alt="Image du trick {{ trick.title }}"
                                     class="card-img">
                            </a>
                            <div class="card-body">
                                <a href="{{ url }}">
                                    <h4 class="card-title">
                                        {{ trick.title }}
                                        {% if app.user %}
                                            <a href="{{ path('trick_edit', {'slug': trick.slug}) }}">
                                                <span class="fa fa-pencil"></span>
                                            </a>
                                            <a href="{{ path('trick_delete', {'slug': trick.slug}) }}" onclick="return confirm('Etes vous sur de vouloir supprimer la figure : {{ trick.title }}')">
                                                <span class="fa fa-trash text-danger"></span>
                                            </a>
                                        {% endif %}
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>
    </section><!-- End Services Section -->
    <div class="row">
        <div class="col-12 text-center">
            <button id="moreTricks" class="btn btn-success">Voir plus de figures</button>
        </div>
    </div>
    <a href="#tricks" class="back-to-top"><i class="icofont-simple-up"></i></a>
{% endblock %}

{% block javascripts %}
    <script>
        click = 0;
        function moreTricks(event) {
            event.preventDefault();
            click++;
            var start = 5 * click;
            const url = "{{ path('moreTricks') }}" + start;
            axios.get(url).then(function(response) {
                $("#listTricks").append(response.data);
            }).catch(function (error) {
                if (response.status === 403) {
                    window.alert("Accès interdit !");
                }
                else if (response.status === 404) {
                    window.alert("La page n'existe pas !");
                }
            });
        }
        document.getElementById("moreTricks").addEventListener("click", moreTricks);
    </script>
{% endblock %}
