{% extends 'base.html.twig' %}

{% block title %}Page du trick : {{ trick.title }}{% endblock %}

{% block body %}
    <div class="trick-title mt-5 img-fluid"
         style="background-image: url({{ url('homepage') ~ trick.getCoverImageUrl }})">
        <div class="container" id="tricks">
            <h1>{{ trick.title }}</h1>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            {% for image in trick.images %}
                <div class="col-md-2 mr-3">
                    <img src="{{ url('homepage') ~ image.getImageUrl }}" class="trick-image img-fluid"
                         alt="Image du trick {{ trick.title }}">
                </div>
            {% endfor %}
            {% for video in trick.videos %}
                <div class="col-md-2 ml-auto">

                    <iframe class="myIframe" width="250" height="150" frameborder="0" allowfullscreen></iframe>
                    <script type="text/javascript">

                        var url = "{{ video.url }}";
                        var id = url.split("?v=")[1];

                        var embedlink = "http://www.youtube.com/embed/" + id;

                        var ytube1 = document.getElementsByClassName("myIframe");

                        ytube1[{{ loop.index0 }}].src = embedlink;
                    </script>

                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">

            <span class="badge badge-pill badge-primary mr-auto mb-2">Catégorie: {{ trick.category.title }}</span>

            <span class="badge badge-pill badge-success ml-auto mb-2">Créé le: {{ trick.createdat | date('d-m-Y') }}</span>
            {% if trick.updatedAt is not null %}
                <span class="badge badge-pill badge-info ml-auto mb-2">Modifié le : {{ trick.updatedat | date('d-m-Y') }}</span>
            {% endif %}
        </div>
        <div class="jumbotron">
            <p class="text-center mt-auto">{{ trick.content }}</p>
        </div>
        <hr>
        {% if is_granted('ROLE_MEMBER') == false %}
            <div class="alert alert-warning">Vous devez être inscrit et avoir validé votre compte pour poster un commentaire.</div>
        {% else %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Envoyez</button>
            {{ form_end(form) }}
        {% endif %}
        <hr>
        {% if trick.comments|length <= 0 %}

            <h2>Aucun commentaire pour le moment</h2>
        {% else %}
            <h2>Commentaires laissés</h2>
        {% endif %}
        {% for comment in trick.comments|sort|reverse %}
            {% if comment is not null %}
                <div class="row jumbotron">

                    <div class="col-md-2">
                        <i>Le {{ comment.createdAt | date('d-m-Y') }}</i>
                        <div class="card align-items-center">
                            <img src="{{ app.request.schemeAndHttpHost ~ app.request.baseUrl ~ comment.author.getAvatarUrl }}"
                                 class="avatar card-img" alt="Avatar de {{ comment.author.fullName }}">
                            <div class="card-body">
                                {{ comment.author.fullName }}
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 offset-2">
                        <blockquote>{{ comment.content }}</blockquote>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>
{% endblock %}
